---
layout: archive
title: "Current research"
permalink: /portfolio/
author_profile: true
---
<HR style="FILTER:alpha(opacity=100,finishopacity=0,style=1)" align="center" width="768" color="#987cb9" SIZE="3">
<p style="text-align:justify;"><b>Automatic Cell Manipulation and Patterning System by using Dielectrophoresis (DEP):</b></p>
<p style="text-align:justify;">My research in Ph.D. is on cell manipulation and patterning with a robotic-aided automatic system. Equipped with a microchip that can generate electric fields, the system enables micro particle (including biological cell) translation and patterning via the DEP force.<p>

<!-- <img src="/images/device.jpg" height="678.5" width="904.5" alt="device" />-->
<img src="/images/device.png" height="378.9" width="768" alt="device" />

<HR style="FILTER:alpha(opacity=100,finishopacity=0,style=1)" align="center" width="768" color="#987cb9" SIZE="3">
  
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
