---
layout: archive
title: "Current research"
permalink: /portfolio/
author_profile: true
---
<HR align=center width=768color=#987cb9 SIZE=2>
<p><b>Automatic Cell Manipulation and Patterning System by using Dielectrophoresis:</b></p>
<p>My research in Ph.D. is on cell manipulation and patterning with a robotic-aided automatic system. Equipped with a microchip that can generate electric fields, the system enables biological cell translation and orientation via the DEP force.<p>

<!-- <img src="/images/device.jpg" height="678.5" width="904.5" alt="device" />-->
<img src="/images/device.jpg" height="452" width="603" alt="device" />
 
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
