---
layout: archive
title: "Current research"
permalink: /portfolio/
author_profile: true
---

<p><b>Automatic Cell Manipulation and Patterning System by using Dielectrophoresis:</b></p>

<p>My research in Ph.D. is on cell manipulation and patterning with a robotic-aided automatic system. Equipped with a microchip that can generate electric fields, the system enables biological cell translation and orientation via the DEP force.<p>

<!-- <img src="/images/device.jpg" height="678.5" width="904.5" alt="device" />-->
<img src="/images/device.jpg" height="100" width="100" alt="device" />
 
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

